{% extends '_layouts/cp' %}

{% import '_includes/forms' as forms %}

{% set title = productBundle.id ? ('Edit'|t('commerce-product-bundles')) ~ ' ' ~ productBundle.title :  ('New product bundle'|t('commerce-product-bundles')) %}
{% set selectedSubnavItem = 'product-bundles' %}
{% set fullPageForm = true %}

{% block contextMenu %}
    {% if craft.app.getIsMultiSite() %}
        <div class="btn menubtn" data-icon="world">{{ productBundle.site.name|t('site') }}</div>
        <div class="menu">
            <ul class="padded">
                {% for siteId in siteIds %}
                    {% set site = craft.app.sites.getSiteById(siteId) %}
                    {% set status = siteId in enabledSiteIds ? 'enabled' : 'disabled' %}
                    <li>
                        {% if siteId == productBundle.siteId %}
                            <a class="sel">
                                <div class="status {{ status }}"></div>
                                {{ site.name|t('site') }}
                            </a>
                        {% else %}
                            <a href="{{ url('commerce/product-bundles/new/' ~ site.handle) }}">
                                <div class="status {{ status }}"></div>
                                {{ site.name|t('site') }}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {{ actionInput('commerce-product-bundles/bundles/save') }}
    {{ hiddenInput('productBundleId', productBundle.id) }}
    {{ hiddenInput('siteId', productBundle.siteId) }}
    {{ redirectInput('commerce/product-bundles') }}
    {{ csrfInput() }}

    <div id="fields">
        {{ forms.textField({
            label: 'Title'|t('commerce-product-bundles'),
            site: productBundle.site,
            id: 'title',
            name: 'title',
            value: productBundle.title,
            errors: productBundle.getErrors('title'),
            first: true,
            autofocus: true,
            required: true,
            maxlength: 255
        }) }}

        {{ forms.elementSelectField({
            id: 'products',
            label: 'Products'|t('commerce-product-bundles'),
            name: 'products',
            elements: productBundle.getProducts(),
            elementType: productElementType,
            limit: null,
            instructions: 'Select two or more products to combine in this bundle.'|t('commerce-product-bundles'),
            errors: productBundle.getErrors('products'),
            required: true
        }) }}

        {% set tabs = productBundle.getFieldLayout().getTabs() %}
        {% if tabs|length %}
            <hr>
            <div>
                {% for tab in tabs %}
                    {% if tabs|length > 1 %}
                        <h2>{{ tab.name }}</h2>
                    {% endif %}
                    <div>
                        {% include '_includes/fields' with {
                            fields: tab.getFields(),
                            element: productBundle,
                        } only %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block details %}
    <div class="meta">
        {{ forms.dateTimeField({
            label: 'Post Date'|t('commerce-product-bundles'),
            id: 'postDate',
            name: 'postDate',
            value: productBundle.postDate,
            errors: productBundle.getErrors('postDate')
        }) }}

        {{ forms.dateTimeField({
            label: 'Expiry Date'|t('commerce-product-bundles'),
            id: 'expiryDate',
            name: 'expiryDate',
            value: productBundle.expiryDate,
            errors: productBundle.getErrors('expiryDate')
        }) }}

        {{ forms.lightswitchField({
            label: 'Enabled'|t('commerce-product-bundles'),
            id: 'enabled',
            name: 'enabled',
            on: productBundle.enabled
        }) }}

        {% if craft.app.getIsMultiSite() %}
            {{ forms.lightswitchField({
                label: 'Enabled for site'|t('commerce-product-bundles'),
                id: 'enabledForSite',
                name: 'enabledForSite',
                on: productBundle.enabledForSite
            }) }}
        {% endif %}
    </div>

    <hr>

    <div class="meta">
        {{ forms.selectField({
            label: 'Tax Category'|t('commerce-product-bundles'),
            name: 'taxCategoryId',
            value: productBundle.taxCategoryId,
            required: true,
            options: craft.commerce.taxCategories.getAllTaxCategoriesAsList()
        }) }}

        {% set shippingCategories = [] %}
        {% for shippingCategory in craft.commerce.shippingCategories.getAllShippingCategories() %}
            {% set shippingCategories = shippingCategories|merge([{ value: shippingCategory.id, label: shippingCategory.name }]) %}
        {% endfor %}

        {{ forms.selectField({
            label: 'Shipping Category'|t('commerce-product-bundles'),
            name: 'shippingCategoryId',
            value: productBundle.shippingCategoryId,
            required: true,
            options: shippingCategories
        }) }}
    </div>

    <hr>

    <div class="meta">
        {{ forms.textField({
            id: 'sku',
            label: 'SKU'|t('commerce-product-bundles'),
            required: true,
            name: 'sku',
            value: productBundle.sku,
            class: 'code',
            placeholder: 'Enter SKU'|t('commerce-product-bundles'),
            errors: productBundle.getErrors('sku')
        }) }}

        {{ forms.textField({
            id: 'price',
            label: 'Price'|t('commerce-product-bundles'),
            required: true,
            name: 'price',
            value: (productBundle.price == '0' ? '0'|number : (productBundle.price ? productBundle.price|number ?: '')),
            placeholder: 'Enter price'|t('commerce-product-bundles'),
            unit: craft.commerce.paymentCurrencies.primaryPaymentCurrency.iso|upper,
            errors: productBundle.getErrors('price'),
        }) }}
    </div>

    {% if productBundle.id %}
        <div class="meta read-only">
            <div class="data">
                <h5 class="heading">{{ 'Date Created'|t('commerce-product-bundles') }}</h5>
                <div class="value">{{ productBundle.dateCreated|date('short') }} {{ productBundle.dateCreated|time('short') }}</div>
            </div>

            <div class="data">
                <h5 class="heading">{{ 'Date Updated'|t('commerce-product-bundles') }}</h5>
                <div class="value">{{ productBundle.dateUpdated|date('short') }} {{ productBundle.dateUpdated|time('short') }}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}