<div id="{{ id }}" class="matrix product-matrix">
	<div class="blocks">
		{% set totalNewProducts = 0 %}
		{% for product in products %}
			{% set productId = product.product.id %}
			
			{% if not productId %}
				{% set totalNewProducts = totalNewProducts + 1 %}
				{% set productId = 'new'~totalNewProducts %}
			{% endif %}
			
			{% set namespace = name~'['~productId~']' %}
			
			<div class="product-matrixblock matrixblock" data-id="{{ productId }}">
				<div class="titlebar">
					<div class="preview"></div>
				</div>
				<div class="checkbox" title="{{ 'Select'|t('commerce-product-bundles') }}"></div>
				<div class="actions">
					<a class="setings icon menubtn" title="{{ 'Actions'|t('commerce-product-bundles') }}" role="button"></a>
					<div class="menu">
						<ul class="padded">
							<li>
								<a data-icon="collapse" data-action="collapse">
									{{ 'Collapse'|t('commerce-product-bundles') }}
								</a>
							</li>
							<li class="hidden">
								<a data-icon="expand" data-action="expand">
									{{ 'Expand'|t('commerce-product-bundles') }}
								</a>
							</li>
						</ul>
						<hr class="padded">
						<ul class="padded">
							<li>
								<a data-icon="+" data-action="add">
									{{ 'Add product above'|t('commerce-product-bundles') }}
								</a>
							</li>
						</ul>
						<hr class="padded">
						<ul class="padded">
							<li>
								<a data-icon="remove" data-action="delete">
									{{ 'Delete'|t('commerce-product-bundles') }}
								</a>
							</li>
						</ul>
					</div>
					<a class="move icon" title="{{ 'Reorder'|t('commerce-product-bundles') }}" role="button"></a>
				</div>
				<div class="fields">
					{% include 'commerce-product-bundles/product-bundles/_product_matrix_fields' %}
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="btn add icon">{{ 'Add a product'|t('commerce-product-bundles') }}</div>
</div>
